<h2>{{article.title}}</h2>
<p>{{article.summary}}</p>
<a href="/articles">Back</a>

<div class="container">
    <div class="row">
        <div class="col l2 empty"></div>
        <div class="col l8 comments">
            {{#each article.comments}}
            <div class="row comme">
                <div class="col l12">
                    <p>{{this.message}}</p>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="col l2 empty"> </div>
        <div class="row">
            <div class="col l12">
                <form>
                    <div class="form-group">
                        <label></label>
                        <input>
        
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input>
                    </div>
                    <button class="btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>